.centered{
	position: relative;
	margin:70px auto 0;
	width:700px;
	overflow:hidden;
	margin-bottom: 50px;

	input{
		height:45px;
	}

	label{color:#fff;}

}

body{
	background:url('http://cdn.pcwallart.com/images/route-66-road-wallpaper-3.jpg');
	background-position: center;
	background-size: cover;
}

.button-set{
	padding:10px;
	display: inline-block;
}

#send_data, #alternate_routes{margin-top:28px; background:#77d6ab; border-color:#77d6ab; color:#fff;

	transition:all 350ms ease 0s;
&:hover{
		background:#5dce9b;
		border-color:#5dce9b;
	}
}

#mapclone1{display: none;}

/*#alternate_routes{display: none;}*/
.alernate-div{display: none; overflow: hidden; margin-top:30px;}



@media (max-width:768px){

	.centered{width:100%;
		.col-xs-5, .col-xs-2{width:100%;}
	}

	#send_data{
		width:100%;
	}

	
}

/*html, body{height:100%;}*/

.content-2, .content-3{color:#fff; padding:10px;}

.firstel, .lastel{padding:10px; display: inline-block; background: #5dce9b;}

#clone-cont-2, #clone-cont-3{padding:30px 0;}

.content{ float: left;
    width: 50%;
    color: #fff;
    padding-left: 50px;
	font-size:14px;
}

#clone-cont-2, #clone-cont-3{width: 70%;
    overflow: hidden;
}

#mapclone2, #mapclone3{width:50%; float:left;}

